[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
scipy = "*"
e3nn = "*"
periodictable = "*"
torch-geometric = "*"
rdkit = "*"

[dev-packages]
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.10"
